html {
  margin: 0 auto;
}

body {
  background-color: #000;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: #674325;
  font-size: 100px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
}

h3 {
  color: #674325;
  font-size: 60px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 2px;
  cursor: pointer;
}
.my-name {
  font-size: 550%;
}
@media screen and (max-width: 700px) {
  .my-name {
    font-size: 400%;
  }
}

@media screen and (max-width: 553px) {
  h1 {
    font-size: 50px;
  }

  h3 {
    font-size: 30px;
  }
  .my-name {
    font-size: 30px;
  }
}

@media screen and (max-width: 350px) {
  h3 {
    font-size: 25px;
  }
}

h3 span {
  transition: 0.3s; 
}

h3:hover span {
  color: #f9aaf3;
  text-shadow: 0 0 4px #160606, 0 0 16px #ffbcbc, 0 0 62px #3d3c41;
}

h3 span:nth-child(1) {
  margin-right: 0;
  transition: 1s;
}

h3 span:nth-child(2) {
  margin-left: 0;
  transition: 1s;
}

h3:hover span:nth-child(1) {
  margin-right: 30px;
  transition: 1s;
}

h3:hover span:nth-child(2) {
  margin-left: 30px;
  transition: 1s;
}

#container {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;  
  max-height: 100vh;
	overflow-y: scroll;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  scroll-snap-align: start;
  height: 100vh;
  text-align: center;
  
}

.icon-next-section {
  width: 150px; height: 150px; flex:1
}
